*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colour1: #383e52;
    --colour2:#7484ac;
    --colour3: #e0e7fb;
    --colour4:#dcf3fc;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: var(--colour1);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*navbar*/
.navbar {
    background: var(--colour3);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 700;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--colour2);
}

/*text classes*/
.text-bigbig {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
}

.text-big {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
}

.text-fic {
    font-family: 'Trebuchet MS';
}

.text-small {
    font-size: 1.2rem;
}

/*main page*/
.main {
    text-align: center;
    background: url('../gui/line paper.png') no-repeat;
    background-size: cover;
}

.main img {
    max-width: 30%;
}

.main h {
    color: var(--colour1);
    padding: 30px;
}

.main p {
    padding: 0px 50px;
    color: var(--colour1);
}

/*other page*/
.otherpage {
    margin: 0 20% auto;
    padding-top: 20px;
}

.otherpage ul li a {
    font-weight: 700;
    transition: 0.5s;
}

.otherpage ul li a:hover {
    color: var(--colour2);
}

/*song main menu*/
.albumlist{
    color: var(--colour1);
    text-align: center;
}

.albumlist img {
    max-width: 30%;
    margin-bottom: 1%;
}

.albumlist li a {
    font-weight: 700;
    font-size: 2rem;
    transition: 0.5s;
}

.albumlist li a:hover {
    color: var(--colour2);
}

/*heartbreak designer*/
.songlisthbd {
    padding: 1% 0%;
    background: #650000;
    color: #fff;
    max-width: 300px;
    border-radius: 15px;
}

.songlisthbd ol li {
    text-align: left;
    padding-left: 5%;
    line-height: 150%;
}

.hbdthoughts .hbdoverall {
    background: #fff;
    position: absolute;
    top: 0px;
    right: 150px;
    max-width: 950px;
    border-radius: 15px;
    padding: 1% 2%
}

.waysidepb .waysidethoughts {
    background: #fff;
    position: absolute;
    top: 150px;
    right: 150px;
    max-width: 950px;
    border-radius: 15px;
    padding: 1% 2%
}

/*phoneboy*/
.songlistpb {
    padding: 1% 0%;
    background: #fff;
    color: var(--colour2);
    max-width: 300px;
    border-radius: 15px;
}

.songlistpb ol li {
    text-align: left;
    padding-left: 22%;
    line-height: 150%;
}

.pbdefine {
    background: #fff;
    color: var(--colour2);
    position: absolute;
    top: 0px;
    right: 150px;
    max-width: 950px;
    border-radius: 15px;
    padding: 1% 2%
}

.phoneboypb .phoneboythoughts {
    background: #fff;
    color: var(--colour2);
    position: absolute;
    top: 130px;
    right: 150px;
    max-width: 950px;
    border-radius: 15px;
    padding: 1% 2%
} 

/*funny*/
.funny {
    text-align: center;
}

.funny img {
    max-width: 50%;
    border: 20px solid #fff;
}

.chapter {
    text-align: center;
    line-height: 100px; 
}

/*utility class*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.albumlist .albumContain {
    padding: 5% 5%;
    background: var(--colour4); 
}
